@implements IDisposable
@inject IToastService ToastService

@if (!string.IsNullOrWhiteSpace(_message))
{
  <div class="toast">@_message</div>
}

@code {
  private string? _message;

  protected override void OnInitialized()
  {
    _message = ToastService.CurrentMessage;
    ToastService.Changed += OnChanged;
  }

  public void Dispose()
  {
    ToastService.Changed -= OnChanged;
  }

  private void OnChanged()
  {
    InvokeAsync(() =>
    {
      _message = ToastService.CurrentMessage;
      StateHasChanged();
    });
  }
}
