@inherits LayoutComponentBase

<div class="app-shell">
  <aside class="sidebar">
    <a class="brand" href="/">
      <span class="brand-mark">RS</span>
      <span>Rocket Stats</span>
    </a>
    <nav>
      <NavLink href="/" Match="NavLinkMatch.All">Dashboard</NavLink>
      <NavLink href="/players">Players</NavLink>
      <NavLink href="/games">Games</NavLink>
      <NavLink href="/connection">Connection</NavLink>
      <NavLink href="/settings">Settings</NavLink>
    </nav>
  </aside>

  <main class="content">
    @Body
  </main>
</div>

<Toast />

